<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- tmdb CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/weebzone/weebzone/data/Surf-TG/css/tmdbMovie.css">
    <!-- plyr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/weebzone/weebzone/data/Surf-TG/css/plyr.css">
    <title>Movie</title>
    <style>
        .navbar .btn i {
            transition: color 0.3s ease;
            color: white;
            /* Set the initial color */
        }

        .navbar .btn:hover i {
            color: red;
            /* Set the color on hover */
        }

        /* Search box text visibility and input animation */
        .form-control {
            transition: all 0.3s ease;
            color: white;
            /* Text color */
            background-color: #343a40;
            /* Background color to match navbar */
            border: 1px solid #495057;
            /* Border color */
        }

        .form-control::placeholder {
            color: #6c757d;
            /* Placeholder color */
        }

        .form-control:focus {
            color: white;
            /* Text color on focus */
            background-color: #495057;
            /* Background color on focus */
            border-color: #80bdff;
            /* Border color on focus */
            box-shadow: 0 0 0 0.2rem rgba(128, 189, 255, 0.25);
            /* Focus shadow */
        }
    </style>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a class="navbar-brand navbar-brand-center" href="/">
                <img src="https://cdn.jsdelivr.net/gh/weebzone/weebzone/data/Surf-TG/src/nlogo.png" width="auto"
                    height="30" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="order-lg-1">
                <form id="signoutForm" action="/logout" method="post" class="d-flex" role="logout">
                    <button type="submit" class="btn"><i class="fa-solid fa-power-off"></i></button>
                </form>
            </div>

            <div class="collapse navbar-collapse" style="margin-left: 50px;" id="navbarColor03">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="nav-home" href="/">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-movies" href="/get/Movies">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tvshows" href="/get/tvshow">TV-Shows</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-latest" href="/get/latest">Latest</a>
                    </li>
                </ul>
                <form class="form-inline d-flex" action="/searchtmdb" method="get">
                    <input class="form-control" type="search" placeholder="Search" name="q">
                    <button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </nav>
    <div id="loading-screen"
        style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgb(0, 0, 0); display: flex; justify-content: center; align-items: center; z-index: 1000;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="100" height="100">
            <circle fill="#FF156D" stroke="#FF156D" stroke-width="11" r="15" cx="35" cy="100">
                <animate attributeName="cx" calcMode="spline" dur="2" values="35;165;165;35;35"
                    keySplines="0 .1 .5 1;0 .1 .5 1;0 .1 .5 1;0 .1 .5 1" repeatCount="indefinite" begin="0"></animate>
            </circle>
            <circle fill="#FF156D" stroke="#FF156D" stroke-width="11" opacity=".8" r="15" cx="35" cy="100">
                <animate attributeName="cx" calcMode="spline" dur="2" values="35;165;165;35;35"
                    keySplines="0 .1 .5 1;0 .1 .5 1;0 .1 .5 1;0 .1 .5 1" repeatCount="indefinite" begin="0.05">
                </animate>
            </circle>
            <circle fill="#FF156D" stroke="#FF156D" stroke-width="11" opacity=".6" r="15" cx="35" cy="100">
                <animate attributeName="cx" calcMode="spline" dur="2" values="35;165;165;35;35"
                    keySplines="0 .1 .5 1;0 .1 .5 1;0 .1 .5 1;0 .1 .5 1" repeatCount="indefinite" begin=".1"></animate>
            </circle>
            <circle fill="#FF156D" stroke="#FF156D" stroke-width="11" opacity=".4" r="15" cx="35" cy="100">
                <animate attributeName="cx" calcMode="spline" dur="2" values="35;165;165;35;35"
                    keySplines="0 .1 .5 1;0 .1 .5 1;0 .1 .5 1;0 .1 .5 1" repeatCount="indefinite" begin=".15"></animate>
            </circle>
            <circle fill="#FF156D" stroke="#FF156D" stroke-width="11" opacity=".2" r="15" cx="35" cy="100">
                <animate attributeName="cx" calcMode="spline" dur="2" values="35;165;165;35;35"
                    keySplines="0 .1 .5 1;0 .1 .5 1;0 .1 .5 1;0 .1 .5 1" repeatCount="indefinite" begin=".2"></animate>
            </circle>
        </svg>
    </div>

    <div class="container">
        <div class="movie-card">
            <img src="" alt="Movie Poster" class="movie-poster">
            <div class="movie-info">
                <h3 class="movie-title"></h3>
                <span class="netflix-style rating" style="background-color: rgba(10, 109, 215, 0.797);"></span>
                <span class="netflix-style runtime" style="background-color: rgba(208, 10, 215, 0.714);"></span>
                <span class="netflix-style year"><i class="bi bi-calendar-range-fill"></i></span>
                <br> <br>
                <span class="genre" style="font-size: large; font-weight: 200; font-family: monospace;"></span>
                <p class="movie-description"></p>
                <button class="watch-button">Watch Now</button>

            </div>
        </div>
        <footer class="footer mt-auto py-3  text-center" style="color: #ffffffda;">
            <div class="container d-flex justify-content-center align-items-center"
                style="width: 100%; padding: 0 10px;">
                <p class="float-end">
                <p>Made with <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="red"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                    </svg> by <a href="https://github.com/weebzone" style="color: red;" target="_blank">Karan
                        Adhikari</a><br>
                    &copy; 2024 <a href="https://github.com/weebzone/Surf-TG" style="color: red;"
                        target="_blank">Surf-TG</a>. All Rights
                    Reserved.
            </div>
        </footer>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="episodeModal" tabindex="-1" aria-labelledby="episodeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="episodeModalLabel">Movie Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="episodeModalBody">
                    <video id="videoPlayer" controls crossorigin playsinline></video>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/gh/weebzone/weebzone/data/Surf-TG/js/tmdbMovie.js"></script> -->
    <script disable-devtool-auto src='https://cdn.jsdelivr.net/npm/disable-devtool'></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const navLinks = document.querySelectorAll('.nav-link');
            const currentPath = window.location.pathname;

            navLinks.forEach(link => {
                const linkPath = new URL(link.href).pathname;
                const currentSpan = link.querySelector('.visually-hidden');

                if (linkPath === currentPath) {
                    link.classList.add('active');
                    if (!currentSpan) {
                        const span = document.createElement('span');
                        span.className = 'visually-hidden';
                        span.textContent = '(current)';
                        link.appendChild(span);
                    }
                } else {
                    link.classList.remove('active');
                    if (currentSpan) {
                        link.removeChild(currentSpan);
                    }
                }
            });
        });

    </script>
    <script>
        async function fetchJSON(url) {
            const response = await fetch(url);
            const data = await response.json();
            return data;
        }

        function convertMinutesToReadableFormat(minutes) {
            const hours = Math.floor(minutes / 60);
            const mins = minutes % 60;
            return `${hours}h ${mins}m`;
        }

        // Function to create series card
        function createMovieCard(data) {
            const { poster, title, rating, runtime, release_date, genres, description, backdrop } = data;

            // Update the poster image
            const posterElement = document.querySelector(".movie-poster");
            if (posterElement) {
                const posterUrl = `https://image.tmdb.org/t/p/w500/${poster}`;
                posterElement.src = posterUrl;
            }

            // Update the title
            const titleElement = document.querySelector(".movie-title");
            if (titleElement) {
                titleElement.textContent = title;
                document.title = `Movie - ${title}`;
            }
            // Format and update the rating (to one decimal place)
            const formattedRating = parseFloat(rating).toFixed(1);
            const ratingElement = document.querySelector(".rating");
            if (ratingElement) {
                ratingElement.innerHTML = `<i class="bi bi-star-fill" style="color: #ffd700;"></i> ${formattedRating}`;
            }

            const runtimeElement = document.querySelector(".runtime");
            if (runtimeElement) {
                const readableRuntime = convertMinutesToReadableFormat(runtime);
                runtimeElement.innerHTML = `<i class="bi bi-clock-fill"></i> ${readableRuntime}`;
            }


            // Extract and update the year (only the year part from YYYY-MM-DD format)
            const formattedYear = release_date.split('-')[0];
            const yearElement = document.querySelector(".year");
            if (yearElement) {
                yearElement.innerHTML = `<i class="bi bi-calendar-range-fill"></i> ${formattedYear}`;
            }

            // Join and update the genres (array of strings)
            const formattedGenres = genres.join(', ');
            const genreElement = document.querySelector(".genre");
            if (genreElement) {
                genreElement.textContent = formattedGenres;
            }
            // Update the description
            const descriptionElement = document.querySelector(".movie-description");
            if (descriptionElement) {
                descriptionElement.textContent = description;
            }

            const watchButton = document.querySelector(".watch-button");
            const backdropUrl = `https://image.tmdb.org/t/p/w1280${backdrop}`;

            if (watchButton) {
                watchButton.onclick = function () {
                    const qualities = data.qualities.map(q => ({
                        quality: q.quality,
                        size: q.size,
                        type: q.type,
                        hash: q.hash,
                        cid: q.cid,
                        msg_id: q.msg_id
                    }));
                    showEpisodeDetails(title, `${backdropUrl}`, qualities);
                }
            }


            document.body.style.background = `linear-gradient(rgba(0, 0, 0, 0.588), rgba(0, 0, 0, 0.774)), url('${backdropUrl}')`;
            document.body.style.backgroundSize = "cover";
            document.body.style.backgroundAttachment = "fixed";
            document.body.style.backgroundRepeat = "no-repeat";

        }

        function showEpisodeDetails(title, poster, qualities) {
            if (!Array.isArray(qualities)) {
                console.error("Qualities is not an array:", qualities);
                qualities = [];
            }

            const modalTitle = document.getElementById("episodeModalLabel");
            modalTitle.textContent = title;
            const modalBody = document.getElementById("episodeModalBody");

            modalBody.innerHTML = `
        <div class="container text-center">
            <video controls crossorigin playsinline id="videoPlayer">
            </video>
            
            <div class="btn-group mt-2" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-outline-secondary">Download</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop3" type="button"
                        class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu download" aria-labelledby="btnGroupDrop3">
                    </div>
                </div>
            </div>
            <div class="btn-group  mt-2" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-outline-secondary">Get File</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop3" type="button"
                        class="btn  btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu telegram" aria-labelledby="btnGroupDrop3">
                    </div>
                </div>
            </div>

            <div class="btn-group  mt-2" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-outline-secondary">MX Player</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop3" type="button"
                        class="btn btn-outline-secondary  dropdown-toggle" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu mxplayer" aria-labelledby="btnGroupDrop3">
                    </div>
                </div>
            </div>
            <div class="btn-group  mt-2" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-outline-secondary">VLC Player</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop4" type="button"
                        class="btn btn-outline-secondary  dropdown-toggle" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu vlcplayer" aria-labelledby="btnGroupDrop4">
                    </div>
                </div>
            </div>
        </div>
    `;
            const modal = new bootstrap.Modal(document.getElementById('episodeModal'));
            modal.show();

            const player = new Plyr('#videoPlayer', { controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'settings', 'pip', 'airplay', 'fullscreen', 'quality'] });
            const sources = qualities.map(quality => ({
                src: `/${quality.cid}/${quality.quality}.mkv?id=${quality.msg_id}&hash=${quality.hash}`,
                type: 'video/mp4',
                size: parseInt(quality.quality.replace('p', ''), 10)
            }));
            player.source = {
                type: 'video',
                title: title,
                sources: sources,
                poster: poster,
            };

            // Pause the video when the modal is being closed
            $('#episodeModal').on('hidden.bs.modal', function () {
                player.pause();
            });

            // Pause/play the video when tapping anywhere on it
            $('#videoPlayer').on('click', function () {
                if (player.playing) {
                    player.pause();
                } else {
                    player.play();
                }
            });

            const json = `{${qualities.map(quality => `"${quality.quality} - ${quality.size}": "/${quality.cid}/${quality.quality}.mkv?id=${quality.msg_id}&hash=${quality.hash}"`).join(',')}}`;

            const videoSources = JSON.parse(json);
            const videolink = window.location.href;
            const url = new URL(videolink);
            const domainUrl = url.origin;
            const dropdownMenu1 = document.querySelector('.mxplayer');
            dropdownMenu1.innerHTML = '';
            for (const [quality, source] of Object.entries(videoSources)) {
                const link = document.createElement('a');
                link.setAttribute('class', 'dropdown-item');
                link.setAttribute('href', `intent:${domainUrl}${source}#Intent;package=com.mxtech.videoplayer.ad;end`);
                link.textContent = `${quality}`;
                dropdownMenu1.appendChild(link);
            }

            const dropdownMenu4 = document.querySelector('.vlcplayer');
            dropdownMenu4.innerHTML = '';
            for (const [quality, source] of Object.entries(videoSources)) {
                const link = document.createElement('a');
                link.setAttribute('class', 'dropdown-item');
                link.setAttribute('href', `vlc://${domainUrl}${source}`);
                link.textContent = `${quality}`;
                dropdownMenu4.appendChild(link);
            }

            const dropdownMenu2 = document.querySelector('.download');
            dropdownMenu2.innerHTML = '';
            for (const [quality, source] of Object.entries(videoSources)) {
                const link = document.createElement('a');
                link.setAttribute('class', 'dropdown-item');
                link.setAttribute('href', `${domainUrl}${source}`);
                link.textContent = `${quality}`;
                dropdownMenu2.appendChild(link);
            }

            const dropdownMenu3 = document.querySelector('.telegram');
            dropdownMenu3.innerHTML = '';
            const regex = /(\d+)\/\w+\.(mkv|mp4)\?id=(\d+)&/;

            for (const [quality, source] of Object.entries(videoSources)) {
                const match = source.match(regex);
                if (match) {
                    const chatId = "-100" + match[1];
                    const messageId = match[3];
                    const link = document.createElement('a');
                    link.setAttribute('class', 'dropdown-item');
                    link.setAttribute('href', `https://t.me/<!-- Username -->?start=file_${messageId}${chatId}`);
                    link.textContent = `${quality}`;
                    dropdownMenu3.appendChild(link);
                }
            }

        }

        // Function to extract TMDB ID from the URL
        function getTmdbIdFromUrl(url) {
            const urlParts = url.split('/');
            return urlParts[urlParts.length - 1];
        }

        // Example URL
        const url = window.location.href;

        // Extract TMDB ID
        const tmdbId = getTmdbIdFromUrl(url);

        // Construct API URL
        const apiUrl = `/api/tmdb/${tmdbId}`;
        const loadingScreen = document.getElementById('loading-screen');
        loadingScreen.style.display = 'flex';
        fetchJSON(apiUrl).then((data) => {
            createMovieCard(data);
            loadingScreen.style.display = 'none';
        });
    </script>
</body>

</html>